{% include "parchment.html" %}

<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='js/globals.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/repart.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/attack.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/test.js')}}"></script>



<div id='map'>
    <img id='territoryA' src='/static/img/A.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1; position:absolute'>
    <img class='territory' id='territory0' src='/static/img/0.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory1' src='/static/img/1.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory2' src='/static/img/2.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory3' src='/static/img/3.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory4' src='/static/img/4.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory5' src='/static/img/5.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory6' src='/static/img/6.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory7' src='/static/img/7.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory8' src='/static/img/8.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory9' src='/static/img/9.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory10' src='/static/img/10.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory11' src='/static/img/11.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory12' src='/static/img/12.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory13' src='/static/img/13.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory14' src='/static/img/14.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory15' src='/static/img/15.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory16' src='/static/img/16.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory17' src='/static/img/17.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory18' src='/static/img/18.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory19' src='/static/img/19.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory20' src='/static/img/20.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory21' src='/static/img/21.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory22' src='/static/img/22.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory23' src='/static/img/23.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory24' src='/static/img/24.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory25' src='/static/img/25.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory26' src='/static/img/26.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory27' src='/static/img/27.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory28' src='/static/img/28.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory29' src='/static/img/29.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory30' src='/static/img/30.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory31' src='/static/img/31.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory32' src='/static/img/32.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory33' src='/static/img/33.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory34' src='/static/img/34.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory35' src='/static/img/35.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory36' src='/static/img/36.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory37' src='/static/img/37.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory38' src='/static/img/38.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory39' src='/static/img/39.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory40' src='/static/img/40.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    <img class='territory' id='territory41' src='/static/img/41.png' style='left:0px; top:0px; width:1200px; height:660px; opacity:1.0; position:absolute'>
    {% for png_name, tab in coords.items() %}
        {% for coord in tab %}
            {% if game.can_play(team) %}
                {% if not team.repartition_made %}
                    {% for i in range(0,coord[2]) %}
                        <img class='pion {{coord[4]}} {{coord[3]}}' oncontextmenu="pop('{{coord[3]}}');return false;" id='{{i}}' onclick='pick("{{coord[3]}}")' onmouseout="removeElement('text')" onmouseenter="print_number({{coord[0]}}, {{coord[1]}}, '{{coord[3]}}'); return false;" src='static/img/{{png_name}}' style='width: 20px; height: 20px; left:{{coord[0]-10}}px; top:{{coord[1]+5-2*i}}px; position: absolute;'>
                    {% endfor %}
                {% else %}
                    {% for i in range(0,coord[2]) %}
                        <img class='pion {{coord[4]}} {{coord[3]}}' id='{{i}}' onclick='selectCountry("{{coord[3]}}")' onmouseout="removeElement('text')" onmouseover="print_number({{coord[0]}}, {{coord[1]}}, '{{coord[3]}}')" src='static/img/{{png_name}}' style='width: 20px; height: 20px; left:{{coord[0]-10}}px; top:{{coord[1]+5-2*i}}px; position: absolute;'>
                     {% endfor %}
                {% endif %}
            {% else %}
                {% for i in range(0,coord[2]) %}
                    <img class='pion {{coord[4]}} {{coord[3]}}' id='{{i}}' onmouseout="removeElement('text')" onmouseover="print_number({{coord[0]}}, {{coord[1]}}, '{{coord[3]}}')" src='static/img/{{png_name}}' style='width: 20px; height: 20px; left:{{coord[0]-10}}px; top:{{coord[1]+5-2*i}}px; position: absolute;'>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
<input type="hidden" id="team_name" value="{{team.name}}">
<input type="hidden" id="can_play" value="{{game.can_play(team)}}">
<input type="hidden" id="can_attack" vale="{{False}}">

<center>
    <div style="margin-top: 680px">
        {% if game.can_play(team) and not team.repartition_made %}
        <button onclick="validate_repart()" type="button" >Finir la répartition</button>
        {% endif %}
    </div>
</center>